<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>这是html文件</h1>
    <h2>这是title:{{title}}</h2>
    {{if age >= 30}}
    <p>我今年{{age}}岁</p>
    {{/if}}
    {{if age < 30}}
    <p>我还没到30岁</p>
    {{/if}}
    <h2>循环渲染</h2>
    {{each myList as list}}
    {{if list.id === 1}}
    <h3>id:{{list.id}}</h3>
    <h4>name:{{list.name}}</h4>
    <h5>age:{{list.age}}</h5>
    <hr/>
    {{/if}}
    {{/each}}
</body>
</html>